html:has(body.scroll) .nav {
  background-color: var(--white);
  color: var(--black);
}

body:not(.scroll) .nav {
  background-color: transparent;
  color: var(--white);
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem var(--padding-clamp);
  position: fixed;
  top: 0;
  z-index: 101;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;

  > :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > .nav-menu-ul {
      display: flex;
      gap: 0 2vw;

      > li {
        > a {
          color: var(--black);
          font-size: 0.9rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/* logo */
.logo-contain {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;

  > img {
    width: 3rem;
    object-fit: contain;
  }
}

/* nav slider */
.navSlide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  height: 100vh;
  width: 70vw;
  box-shadow: -5.4rem 0 5.5rem var(--trans-more-black);
  transition: 0.5s ease-out;
  transform: translateX(100vw);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 1.5rem;
  z-index: 1000;
  padding: 1rem 0;

  > :nth-child(1) {
    color: var(--trans-black);
  }

  > .nav-menu-ul {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    > li {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--black);
        padding: 1rem;

        &:hover {
          background-color: var(--trans-more-black);
        }

        h4 {
          font-weight: 500;
          font-size: 0.8rem;
        }
      }
    }
  }

  .auth-btn {
    display: flex;
    flex-flow: column;
    align-items: center;

    > * {
      width: 70%;
      padding: 1rem;
      font-size: 0.9rem;
    }
  }
}

/* active nav */
.navSlide.activeNav {
  transform: translateX(0);
}

/* active nav menu */
.nav-menu-ul {
  li {
    .active {
      color: var(--black) !important;
      font-size: 110% !important;
    }
  }
}
